service cloud.firestore {
  match /databases/{database}/documents {
    match /documents/{document} {
        allow create: if request.auth != null && hasTimestamp() && isCalm(database);
        allow read: if isAdmin();
    }
    match /users/{user} {
        allow create: if isMine() && hasTimestamp();
        allow update: if isMine() && hasTimestamp() && isCalm(database);
    }
  }

  function isMine() {
    return request.resource.id == request.auth.uid;
  }

  function hasTimestamp() {
    return request.resource.data.timestamp == request.time;
  }

  function isCalm(database) {
    return !exists(/databases/$(database)/documents/users/$(request.auth.uid)) || getAfter(/databases/$(database)/documents/users/$(request.auth.uid)).data.timestamp
              > get(/databases/$(database)/documents/users/$(request.auth.uid)).data.timestamp + duration.value(5, 's');
	}

  function isAdmin() {
    // PLEASE UPDATE ADMIN UID
  	return request.auth.uid == 'YgRaeJye4kPkQgwqswFNl6iQkdwy';
  }
}