---
import SectionContainer from '../components/SectionContainer.astro';
import Body from '../layouts/Body.astro';
import BackHomeLink from '../components/BackHomeLink.astro';
---

<Body>
	<SectionContainer
		outerClass="relative"
		innerClass="flex w-full max-w-screen-md flex-col gap-10 md:gap-8"
	>
		<BackHomeLink class="absolute left-1 top-3" />

		<h1 class="heading-responsive-02 text-center !font-normal">
			นโยบายการคุ้มครองข้อมูลส่วนบุคคล (PRIVACY POLICY)
		</h1>

		<p>
			เครือข่ายรณรงค​์ลบมรดกรัฐประหาร 6 ตุลา (ต่อไปนี้จะเรียกว่า "เรา")
			ผู้ดำเนินการรวบรวมรายชื่อ
			เพื่อเสนอร่างกฎหมายยกเลิกคำสั่งคณะปฏิรูปการปกครองแผ่นดิน พ.ศ. 2519 ฉบับที่
			41เคารพความเป็นส่วนตัวและ ตระหนักถึงความสำคัญของการคุ้มครองข้อมูลส่วนบุคคล
			จึงต้องมีนโยบายคุ้มครองข้อมูลส่วนบุคคลนี้ เพื่อชี้แจงรายละเอียดและ
			วิธีการจัดเก็บรวบรวม ใช้ และ/หรือเปิดเผย การคุ้มครองข้อมูล
			การเข้าถึงข้อมูล การโอนย้าย และการวิเคราะห์ประมวลผลข้อมูลส่วน บุคคลของท่าน
			ดังต่อไปนี้ นโยบายการคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy)
			นี้อยู่ภายใต้พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 โดย
			เรามีอำนาจหน้าที่ตัดสินใจเกี่ยวกับการเก็บรวบรวม ใช้
			หรือเปิดเผยข้อมูลส่วนบุคคล ซึ่งตามกฎหมายเรียกว่า “ผู้ควบคุมข้อมูลส่วน
			บุคคล" ส่วนท่านถือเป็น “เจ้าของข้อมูลส่วนบุคคล" ตามกฎหมายนี้
		</p>

		<p>
			เราจะทำการเก็บรวบรวมข้อมูลส่วนบุคคลโดยมี วัดถุประสงค์ ขอบเขต
			และใช่วิธีการที่ชอบด้วยกฎหมายและเป็นธรรม โดยใน
			การเก็บรวบรวมนั้นจะทำเพียงเท่าที่จำเป็นแก่การดำเนินงานภายใต้วัตถุประสงค์การรวบรวมรายชื่อเพื่อเสนอร่างกฎหมายยกเลิกคำสั่งคณะปฏิรูปการปกครองแผ่นดิน
			พ.ศ. 2519 ฉบับที่ 41 เท่านั้น โดยดำเนินการภายใต้ความยินยอมของ
			"เจ้าของข้อมูล ส่วนบุคคล" จากการขอความยินยอมโดยชัดแจ้งก่อนท่าการเก็บรวบรวม
			ใช้/หรือเปิดเผย
		</p>

		<div>
			<h2>ข้อ 1. ข้อมูลส่วนบุคคลที่เก็บรวบรวม ใช้ และ/หรือเปิดเผย</h2>
			<p>
				เราจะเก็บรวบรวมข้อมูลส่วนบุคคลซึ่งเป็นข้อมูลที่ทำให้สามารถระบุตัวตนของท่านได้
				ไม่ว่าทางตรงหรือทางอ้อม ได้แก่ ข้อมูล ที่ท่านให้ไว้โดยดรงจากการลงชื่อ
				เช่น
			</p>
			<ul>
				<li>
					ข้อมูลส่วนตัว เช่น ชื่อ นามสกุล อายุ วันเดือนปีเกิด เลขประจำตัวประชาชน
				</li>
				<li>
					ข้อมูลอื่นๆ เช่น ลายมือชื่อ
					และข้อมูลอื่นใดที่ถือว่าเป็นข้อมูลส่วนบุคคลภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล
				</li>
			</ul>
		</div>

		<div>
			<h2>
				ข้อ 2. วัดถุประสงค์ในการเก็บรวบรวม ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคล
			</h2>
			<p>
				เราจะทําการเก็บรวบรวม หรือใช้ข้อมูลส่วนบุคคลของ “เจ้าของข้อมูลส่วนบุคคล"
				เพื่อประโยชน์ใน การรวบรวมรายชื่อเพื่อ
				เสนอร่างกฎหมายยกเลิกคำสั่งคณะปฏิรูปการปกครองแผ่นดิน พ.ศ. 2519 ฉบับที่ 41
				เท่านั้น หากภายหลังมีการ เปลี่ยนแปลงวัตถุประสงค์ ทางเราจะแจ้งให้ท่านทราบ
				เพื่อขอความยินยอม ทั้งนี้จะไม่กระทำการเก็บรวบรวม ใช้
				หรือเปิดเผยข้อมูลส่วน บุคคลของท่าน เพื่อประโยชน์อย่างอื่น
				ที่นอกเหนือจากวัดถุประสงค์ที่ได้แจ้งไว้กับท่านไว้ก่อนหรือขณะเก็บรวบรวม
			</p>
		</div>

		<div>
			<h2>ข้อ 3. การเก็บรวบรวม ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคล</h2>
			<p>
				เราจะไม่เก็บรวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านที่เกี่ยวกับเชื้อชาติ
				เผ่าพันธุ์ความคิดเห็นทางการเมือง ความเชื่อในลัทธิ ศาสนาหรือปรัชญา
				พฤติกรรมทางเพศ ประวัติอาชญากรรม ข้อมูลสุขภาพ ความพิการ ข้อมูลสหภาพแรงงาน
				ข้อมูล พันธุกรรม ข้อมูลชีวภาพ
				หรือข้อมูลอื่นใดซึ่งกระทบต่อท่านในทำนองเดียวกันตามประกาศของคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล
				โดยไม่ได้รับความยินยอมโดยชัดแจ้งจากท่าน
				เว้นแต่เป็นกรณีตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 มาตรา
				26 บัญญัติให้กระทำได้
			</p>
			<p>
				เราจะเก็บรวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านตามวัตถุประสงค์ที่ได้มีการแจ้งไว้
				โดยจะไม่เก็บรวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านโดยปราศจากความยินยอมจากท่าน
				เว้นแต่เป็นข้อมูลของท่านที่เก็บรวบรวมได้โดยไม่ต้อง ขอความยินยอม
				ตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 มาตรา 24 หรือมาตรา 26
				และจะดำเนินเก็บรักษาข้อมูลส่วน บุคคลไว้เป็นความลับ
			</p>
			<p>
				นอกจากนี้อาจมีเก็บรวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคลภายใต้หลักเกณฑ์ที่กฎหมายกำหนด เช่น
				การเปิดเผย ข้อมูลต่อหน่วยงานราชการ หน่วยงานภาครัฐ หน่วยงานกำกับดูแล
				ผู้ให้บริการภายนอก รวมถึงในกรณีที่มีการร้องขอให้เปิดเผยข้อมูล
				โดยอาศัยอำนาจตามกฎหมาย
				ดลอดระยะเวลาการรวบรวมรายชื่อเพื่อเสนอร่างกฎหมายยกเลิกคำสั่งคณะปฏิรูปการปกครองแผ่นดิน
				พ.ศ. 2519 ฉบับที่ 41 และภายใน 1 ปีหลังสิ้นสุดกระบวนการรวบรวมรายชื่อ
				เพื่อใช้สำหรับการตรวจสอบความถูกต้อง
			</p>
		</div>

		<div>
			<h2>ข้อ 4. การคุ้มครองข้อมูลส่วนบุคคล</h2>
			<p>
				เราจะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เป็นอย่างดีดามมาตรการด้านการรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลที่
				สอดคล้องกับกฎหมาย ระเบียบ หลักเกณฑ์
				และแนวปฏิบัติด้านการคุ้มครองข้อูลส่วนบุคคล
				เพื่อป้องกันการละเมิดข้อมูลส่วนบุคคล การ สูญหาย การเข้าถึง ท่าลาย ใช้
				แปลง แก้ไข การนำข้อมูลไปใช้ หรือเปิดเผยข้อมูลนอกวัดถุประสงค์
				หรือโดยไม่มีอำนาจหรือโดยไม่ ชอบ ก่อนที่จะท่าเก็บรวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน เราจะทำการขอความยินยอมจากท่านก่อน
				โดยการขอ ความยินยอมจะทําโดยชัดแจ้ง
				เป็นหนังสือหรือท่าโดยระบบอิเล็กทรอนิกส์ ทั้งนี้
				ท่านมีความเป็นอิสระในการให้ความยินยอมในการเก็บ รวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน
			</p>
		</div>

		<div>
			<h2>ข้อ 5. สิทธิของท่านเกี่ยวกับข้อมูลส่วนบุคคล</h2>
			<p>
				สิทธิของท่านในข้อนี้เป็นสิทธิตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล
				พ.ศ. 2562 โดยท่านสามารถขอใช้สิทธิต่างๆ ได้ ภายใต้ข้อกำาหนดของกฎหมาย
				ดังต่อไปนี้
			</p>
			<ul>
				<li>
					สิทธิในการขอถอนความยินยอม:
					ท่านมีสิทธิที่จะถอนความยินยอมเมื่อใดก็ได้ตลอดระยะเวลาที่ข้อมูลส่วนบุคคลของท่านอยู่
					กับเรา ทั้งนี้การเพิกถอนความยินยอมย่อมไม่ส่งผลกระทบต่อเก็บรวบรวม ใช้
					และ/หรือเปิดเผยข้อมูลส่วนบุคคลที่ได้ให้ความ ยินยอมไว้แล้ว
				</li>
				<li>
					สิทธิในการขอเข้าถึง ขอรับข้อมูลหรือสำเนาข้อมูล: ท่านมีสิทธิขอเข้าถึง
					หรือรับ ข้อมูลส่วนบุคคลของท่านเองที่อยู่ในความ รับผิดชอบของเรา
					และขอให้เราทำสำเนาข้อมูลดังกล่าวให้แก่ท่าน
					รวมถึงขอให้เปิดเผยการได้มาซึ่งข้อมูลส่วนบุคคลที่ท่าน
					ไม่ได้ให้ความยินยอมว่าได้ข้อมูลส่วนบุคคลของท่านมาได้อย่างไร
				</li>
				<li>
					สิทธิในการคัดค้าน: ท่านมีสิทธิคัดค้านการเก็บรวบรวม ใช้
					หรือเปิดเผยข้อมูลส่วนบุคคลของท่านเมื่อใดก็ได้
					ในกรณีที่กฎหมายให้อ่านาจในการเก็บรวบรวมข้อมูลของท่านได้โดยไม่ต้องขอความยินยอมจากท่านก่อน
				</li>
				<li>
					สิทธิขอให้แก้ไขข้อมูล:
					ท่านมีสิทธิขอแก้ไขข้อมูลส่วนบุคคลของท่านให้ถูกต้อง เป็นปัจจุบัน
					และไม่ก่อให้เกิดความเข้าใจผิด
				</li>
				<li>
					สิทธิขอให้ลบหรือทำลายข้อมูล:
					ท่านมีสิทธิขอลบหรือทำลายข้อมูลส่วนบุคคลของท่าน
					หรือทำให้ข้อมูลส่วนบุคคลเป็นข้อมูล
					ที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของได้ ดังต่อไปนี้
				</li>
				<li>
					สิทธิขอให้ระงับการใช้ข้อมูล:
					ท่านมีสิทธิขอให้เราระงับการใช้ข้อมูลของท่าน เช่น
					เมื่อข้อมูลของท่านหมดความจำเป็นในการ
					เก็บรักษาตามวัตถุประสงค์ในการเก็บรวบรวมข้อมูล
				</li>
				<li>
					สิทธิร้องเรียน:
					ท่านมีสิทธิร้องเรียนต่อผู้มีอำนาจตามกฎหมายที่เกี่ยวข้อง
					หากท่านเชื่อว่าการเก็บรวบรวม ใช้ และ/หรือ
					เปิดเผยข้อมูลส่วนบุคคลของท่านเป็นการกระทำในลักษณะที่ฝ่าฝืนหรือไม่ปฏิบัติตามกฎหมายที่เกี่ยวข้อง
				</li>
			</ul>
		</div>
		<div>
			<h2>ข้อ 6. การเปลี่ยนแปลงนโยบายคุ้มครองข้อมูลส่วนบุคคล</h2>
			<p>
				เราอาจปรับปรุงนโยบายส่วนบุคคลนี้เป็นครั้งคราว
				เพื่อให้สอดคล้องกับข้อกำหนดตามกฎหมาย การเปลี่ยนแปลงการ ดำเนินงานของเรา
				รวมถึงข้อเสนอแนะและความคิดเห็นจากท่าน
				โดยจะประกาศแจ้งการเปลี่ยนแปลงให้ทราบอย่างชัดเจนก่อนจะเริ่ม
				ดำาเนินการเปลี่ยนแปลง
			</p>
			<p>
				ทั้งนี้หากท่านมีข้อเสนอแนะ
				หรือต้องการสอบถามข้อมูลเกี่ยวกับรายละเอียดการเก็บรวบรวม ใช้
				และ/หรือเปิดเผยข้อมูลส่วนบุคคล รวมถึงการขอใช้สิทธิตามนโยบายฉบับนี้
				ท่านสามารถติดต่อเราได้ผ่านช่องทางดังนี้
			</p>
			<ul>
				<li>อีเมล: thumbrights@gmail.com</li>
				<li>โทรศัพท์: 02-0027878</li>
				<li>อีเมล: 02-0027878</li>
				<li>
					สถานที่ติดต่อ: เลขที่ 1111/3 บ้านกลางเมืองรัชดา-ลาดพร้าว ถนนลาดพร้าว
					แขงจันทร์เกษม เขตจตุจักร กทม. 10900
				</li>
			</ul>
			<p class="body-03-semibold text-black">
				เมื่อคุณตกลงยอมรับนโยบายคุ้มครองข้อมูลส่วนบุคคลฉบับนี้
				เราจะถือว่าท่านยอมรับข้อกำหนดและ เงื่อนไขทั้งหมด
				และการตกลงยอมรับดังกล่าวมีผลสมบูรณ์
			</p>
		</div>
	</SectionContainer>
</Body>

<style lang="postcss">
  div {
    @apply space-y-3;
  }

  h2 {
    @apply font-semibold;
  }

  ul {
    @apply list-outside list-disc ml-6;
  }
</style>
