<div class="py-12 text-center">
	<p class="link-02 text-neutral-500">
		Base on <a
			href="https://github.com/wevisdemo/e-initiative-template"
			target="_blank"
			rel="noopener noreferrer">E-Initiative Template</a
		> by <a
			href="https://wevis.info"
			target="_blank"
			rel="noopener noreferrer"
			class="">WeVis</a
		>
	</p>
</div>

<style lang="postcss">
  a {
    @apply underline hover:text-primary;
  }
</style>
