---
import SectionContainer from '../SectionContainer.astro';
---

<SectionContainer
	innerClass="flex w-full flex-col items-center px-4 text-center"
	landingHeight
	outerClass="bg-base-100 py-6"
>
	<div class="h-[2px] w-full bg-base-200"></div>
</SectionContainer>
