---
import SectionContainer from '../SectionContainer.astro';
import SignOptions from './SignOptions.svelte';
---

<SectionContainer
	id="sign"
	outerClass="bg-primary-focus"
	innerClass="flex w-full max-w-screen-lg flex-col gap-6 md:flex-row md:gap-12"
	hideNavbar
>
	<div class="flex w-full max-w-sm flex-col gap-4 text-base-100">
		<h2 class="heading-responsive-02 text-center">
			ร่วมลงชื่อลบมรดก<br />
			รัฐประหาร 6 ตุลา
		</h2>
		<p class="body-02-normal text-center">
			ลงชื่อเสนอกฎหมายยกเลิกคำสั่งคณะปฏิรูป<br /> การปกครองแผ่นดิน พ.ศ.2519 ฉบับ
			41<br />เพื่อให้กระบวนการที่ถูกต้องทำงาน<br /> แทนคำสั่งที่ไม่ชอบธรรม
		</p>
		<div class="space-y-2 rounded-lg border border-base-100 px-4 py-3">
			<span class="font-bold">คุณสมบัติของผู้เข้าชื่อเสนอกฎหมาย</span>
			<ul class="ml-7 list-outside list-disc">
				<li>เป็นคนไทยที่มีสิทธิเลือกตั้ง (อายุ 18 ปีขึ้นไป)</li>
				<li>ไม่เป็นบุคคลต้องห้ามใช้สิทธิเลือกตั้ง</li>
			</ul>
		</div>
	</div>

	<SignOptions client:visible />
</SectionContainer>
